<div class="sidebar">
    <h3>
        <a href="#<%= global.headerToID(post.title) %>">
            <%= post.title %>
        </a>
    </h3>
    <hr>
    <ul>
        <% for(let i = 0; i < post.headings.length; i++) { %>
        <li>
            <a class="sidebar-heading" href="#<%= global.headerToID(post.headings[i]) %>">
                <%= post.headings[i] %>
            </a>
        </li>
        <% } %>
    </ul>
    <hr>
    <p class="sidebar-heading">Entries on page: <%= post.headings.length %></p>
    <hr>
    <div class="sidebar-nav-con">
        <a class="sidebar-heading" href="">&larr;&nbsp;previous</a>
        <a class="sidebar-heading" href="/">home</a>
        <a class="sidebar-heading" href="">next&nbsp;&rarr;</a>
    </div>
</div>
