<!DOCTYPE html>
<html lang="en-US">
<head>
    <%- include('partials/head'); -%>
</head>
<body>
    <div style="display: flex; flex-direction: row;">
        <%- include('partials/sidebar'); -%>
        <div class="content-con">
            <%- include('partials/post_header'); -%>
            <h2 id="papyrus">
                <a href="#papyrus">Papyrus</a>
            </h2>
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Book_of_the_Dead_of_Hunefer_sheet_3.jpg" alt="Book of the Dead of Hunefer sheet 3">
            <p class="caption">Book of the Dead of Hufner<sup><a href="#cite-1">1</a></sup>.</p>
            <p>
                Papyrus is among ancient Egypt's most beneficial technologies. Papyrus can be manufactured by extracting the medullas of river reed plants, beating them flat, and drying them. Despite its susceptibility to decay, as it is a plant-based derivative, papyrus was commonly used for documenting information in business and government settings because of its light and compact form. Historians and archeologists unveiled its use in wealthy and high-value members' funerary arrangements. Unlike the fragile and weighty clay tablets used in the Sumerian civilizations, large quantities of this material can be stored and transported with ease. Papyrus plants found additional suitability to make buoyant transportation devices.
            </p>
            <%- include('partials/bibliography'); -%>
            <%- include('partials/footer'); -%>
        </div>
    </div>
</body>
</html>
