<!DOCTYPE html>
<html lang="en-US">
<head>
    <%- include('partials/head') -%>
</head>
<body>
    <div class="content-con">
        <div class="header-block">
            <h1>History 101: Western Civilizations</h1>
            <p>A digital project by <%= global.author %></p>
        </div>
        <div class="post-con">
        <% posts.forEach((post) => { %>
            <div class="post-meta">
                <div class="post-meta-top">
                    <h4 class="post-meta-date"><%= post.date %></h4>
                    <h3>
                        <a href="<%= post.path %>"><%= post.title %></a>
                    </h3>
                </div>
            </div>
        <% }) %>
        </div>
    </div>
</body>
</html>
