<!DOCTYPE html>
<html lang="en-US">
<head>
    <%- include('partials/head'); -%>
</head>
<body>
    <div style="display: flex; flex-direction: row;">
        <%- include('partials/sidebar'); -%>
        <div class="content-con">
            <%- include('partials/post_header'); -%>
            <h2 id="language-and-writing">
                <a href="#language-and-writing">Language and Writing</a>
            </h2>
            <img alt="P1150884 Louvre Uruk III tablette écriture précunéiforme AO19936 rwk" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/P1150884_Louvre_Uruk_III_tablette_%C3%A9criture_pr%C3%A9cun%C3%A9iforme_AO19936_rwk.jpg/512px-P1150884_Louvre_Uruk_III_tablette_%C3%A9criture_pr%C3%A9cun%C3%A9iforme_AO19936_rwk.jpg">
            <p class="caption">A clay tablet with inscriptions from Uruk <sup><a href="#cite-2">2</a></sup>.</p>
            <span class="margin-note">
            </span>
            <p>
                The Sumerians of the Mesopotamian city Uruk were an early example of communication in civilization. With a rapid growth in immigrant population due to urbanization, and being both a major religious and trade center, Sumerians needed a way to overcome language barriers with as little complication as possible. They likely went through several iterations before landing on pictograms and ideograms, powerful colloquializations, and universal languages still heavily used today. Sumerians used reed styluses to engrave into clay tablets.
            </p>
            <h2 id="technology">
                <a href="#technology">Technology</a>
            </h2>
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/9d/Dagger_Iran_Luristan_2600-2350_BCE_Bronze.jpg">
            <p class="caption">A bronze dagger from the Bronze Era <sup><a href="#cite-1">1</a></sup>.</p>
            <p>
                It's no surprise that Mesopotamian civilizations had to be incredibly resourceful. The land is barren of timber and construction-ready stone but is nourished by the Tigris and Euphrates rivers, which supply food, water, silt, and clay. Despite the absence of mineral deposits, Sumerians were specialists in metallurgy. They relied extensively on trade to import raw materials such as copper for their tools and weaponry. Copper was later replaced by bronze due to its structural rigidity and lethality on the battlefield. Bronze also had properties that made the casting process more manageable.
            </p>
            <h2 id="religion">
                <a href="#religion">Religion</a>
            </h2>
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/7a/Four_statuettes_of_Mesopotamian_gods.jpg" alt="Four statuettes of Mesopotamian gods.jpg">
            <p class="caption">Four statuettes of the Mesopotamian god Gudea <sup><a href="#cite-3">3</a></sup>.</p>
            <p>
                Sumerians were a polytheistic people, naming their gods after things found naturally. For example, <em>An</em> is the sky god and <em>Ki</em> is the earth god. Their gods created humans to serve them, providing them with fine housing, food, and attire. A relationship between humans and gods was established because of the gods' dependency on the humans. Humans were required to satisfy the gods, and in exchange, the gods would bestow gifts upon them. Religion was also interconnected with the political arrangement; kings stood as human representatives of these deities and therefore were replenished with the finest of supplies.
            </p>
            <h2 id="economics">
                <a href="#economics">Economics</a>
            </h2>
            <img src="https://upload.wikimedia.org/wikipedia/commons/8/8a/Ruins_from_a_temple_in_Naffur.jpg" alt="Ruins from a temple in Naffur.jpg">
            <p class="caption">Ruins from a temple in Naffur <sup><a href="#cite-6">6</a></sup>.</p>
            <p>
                We know temples to be the house of God. For the Sumerians, temples also served as a place of business. In them, priests would collect and redistribute goods from passers-by and locals. Integrating trade with religion bears an interesting political side effect; that is, surrendering independence to an invading power would be an insult to their god, and detrimental to the economy. For those reasons, Sumer and other Mesopotamian city-states developed powerful militaries. Egalitarian slavery existed and was effective as a method of debt-paying and serving time as prisoners of war. Enslaved individuals would often be under the temple's command helping out with the agriculture labor.
            </p>
            <h2 id="poetry">
                <a href="#poetry">Poetry</a>
            </h2>
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/0a/Tablet_of_the_Gilgamish_Epic_%28Obverse%29.jpg" alt="Tablet of the Gilgamish Epic (Obverse).jpg">
            <p class="caption">Tablet of the Gilgamish epic <sup><a href="#cite-4">4</a></sup>.</p>
            <p>
                Sumerians were storytellers. Believe it or not, these people used literary elements to enhance their stories like we do today. For poems, they used repetition and syntax structure. They told poems (mythological epics) that highlighted the power praise their leaders deserve and the heroic qualities they expressed. Although not entirely understood, these epics have been written for Uruk rulers such as Enmerkar, Lugalbanda, and Gilgamish.
            </p>
            <%- include('partials/bibliography'); -%>
            <%- include('partials/footer'); -%>
        </div>
    </div>
</body>
</html>
